.container {
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(204, 210, 216);
    box-shadow: 15px 8px rgba(153, 126, 126, 0.2);
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;
}

.container:active {
    box-shadow:  10px 5px rgba(114, 95, 95, 0.2);
    padding-bottom: 10px;
    transition: 0.4s;
}

.checkIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}

.main {
    width: 65%;
    margin-left: 400px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: azure;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    display: flex;
    justify-content: space-between;
}

.icon-item {
    display: flex;
    justify-content: end;
}